<div class="row g-0 justify-content-center mx-5 mt-5">
    <div class="col-md-5 col-sm-12 d-flex flex-column justify-content-center align-items-center">
        <h2 class="col-auto fw-bold text-center border-bottom pb-2 border-2 border-dark" style="font-family: 'Cinzel', serif; color: #494949;">WHEN</h2>
        <h5 class="fw-bold text-center" style="font-family: 'Cinzel', serif; color: #494949;">October 14th, 2022</h5>
        <div title="Add to Calendar" class="col-auto btn btn-dark addeventatc" style="color: #494949;">
            Add to Calendar
            <span class="start" style="color: #494949;">10/14/2022 03:00 PM</span>
            <span class="end" style="color: #494949;">12/14/2022 08:00 PM</span>
            <span class="timezone" style="color: #494949;">America/Los_Angeles</span>
            <span class="title" style="color: #494949;">Jane & Trevor's Wedding</span>
            <span class="description" style="color: #494949;">Jane and Trevor are getting married.</span>
            <span class="location" style="color: #494949;">Ove Weddings, Snohomish Washington</span>
        </div>
    </div>

    <div class="col-md-5 col-sm-12 d-flex flex-column justify-content-center align-items-center">
        <h2 class="col fw-bold text-center border-bottom pb-2 border-2 border-dark pt-3" style="font-family: 'Cinzel', serif; color: #494949;">WHERE</h2>
        <a href='https://oveweddings.com/' target='_blank' class="link-secondary"><h5 class=" col-12 fw-bold text-center" style="font-family: 'Cinzel', serif; color: #494949;">Ove Weddings</h5></a>
        <p class="fs-5 text-center" style="font-family: 'Nunito Sans', sans-serif; color: #494949;">Snohomish, Washington</p>
    </div>

    <div class="col-12 col-lg-8 d-flex flex-column justify-content-center align-items-center">
        <div class="row justify-content-center mt-4 py-3 mb-3">

                <div class="clearfix">
                    <iframe class="col-12 col-md-12 col-lg-8 col-xl-7 col-xxl-6 float-lg-start py-1 px-2 justify-content-center" src="https://www.google.com/maps/d/embed?mid=15k_qmKVEIJ923393jZHOMy1RPWX0bUWi" width="640" height="480"></iframe>
                    <p class="fs-5" style="font-family: 'Nunito Sans', sans-serif; color: #494949;">
                        Here is a map containing key locations and transit. We have also added places of 
                        interest should you extend your trip for some sightseeing.<br><br>

                        Due to our previous venue shutting down at the last minute, we do not yet have a hotel block reserved 
                        near the new venue. However, there are numerous hotels and rentals in the area around Lake Stevens and 
                        we suggest finding the atomosphere that feels the most inviting for your stay! <br><br>Everett is nearby and is 
                        a large city with ferry access, parks, and beaches. The foothills of the Cascades are to the east with 
                        beautiful cabins to rent. Woodinville, due south, is western Washington's wine country. 
                        To the north is access to plenty of state parks, pumpkin patches, and more beaches!
                    </p>
                </div>
        </div>
    </div>
</div>