<div class="row g-0 justify-content-center mx-5 mt-5">
    <div class="col-md-4 col-sm-12 d-flex flex-column justify-content-center align-items-center">
        <h2 class="col-auto fw-bold text-center border-bottom pb-2 border-2 border-dark" style="font-family: 'Cinzel', serif; color: #494949;">WHEN</h2>
        <h5 class="fw-bold text-center" style="font-family: 'Cinzel', serif; color: #494949;">October 14th, 2022</h5>
        <div title="Add to Calendar" class="col-auto btn btn-dark addeventatc" style="color: #494949;">
            Add to Calendar
            <span class="start" style="color: #494949;">10/14/2022 03:00 PM</span>
            <span class="end" style="color: #494949;">12/14/2022 08:00 PM</span>
            <span class="timezone" style="color: #494949;">America/Los_Angeles</span>
            <span class="title" style="color: #494949;">Jane & Trevor's Wedding</span>
            <span class="description" style="color: #494949;">Jane and Trevor are getting married.</span>
            <span class="location" style="color: #494949;">Seabeck Stables, Seabeck Washington</span>
        </div>
    </div>

    <div class="col-md-4 col-sm-12 d-flex flex-column justify-content-center align-items-center">
        <h2 class="col fw-bold text-center border-bottom pb-2 border-2 border-dark pt-3" style="font-family: 'Cinzel', serif; color: #494949;">WHERE</h2>
        <h5 class=" col-12 fw-bold text-center" style="font-family: 'Cinzel', serif; color: #494949;">Seabeck Stables</h5>
        <p class="fs-5 text-center" style="font-family: 'Nunito Sans', sans-serif; color: #494949;">Seabeck, Washington</p>
    </div>

    <div class="col-12 col-lg-8 d-flex flex-column justify-content-center align-items-center">
        <div class="row justify-content-center mt-4 py-3 mb-3">

                <div class="clearfix">
                    <iframe class="col-12 col-md-12 col-lg-8 col-xl-7 col-xxl-6 float-lg-start py-1 px-2 justify-content-center" src="https://www.google.com/maps/d/embed?mid=15k_qmKVEIJ923393jZHOMy1RPWX0bUWi" width="640" height="480"></iframe>
                    <p class="fs-5 pt-3" style="font-family: 'Nunito Sans', sans-serif; color: #494949;">
                        Here is a map containing key locations and transit. We have also added places of interest should you extend your trip for some sightseeing!<br><br>

                        The direction route displayed on the map is the quickest way from SeaTac International Airport to the Oxford Suites Silverdale. 
                        There is a ferry from downtown Seattle if you wish to spend time there after your arrival. 
                        An alternate airport called Paine Field is an option if you are looking to explore more northward before or after the wedding.<br><br>

                        We have reserved a wedding block at the <a href="https://www.oxfordsuitessilverdale.com/" target="_blank" class="link-secondary">Oxford Suites, Silverdale WA</a>. Please call them at 360.698.9550 to 
                        reserve your room. Mention that you are with the "Currens Engen wedding party" to receive a discounted rate. They have indicated that they 
                        will try to expand the number of rooms as much as possible to accommodate our guests, however they do have limited space. <br><br>

                        If they do become fully booked, rest assured there are plenty of great Airbnb and Vrbo rentals on the Kitsap peninsula. We 
                        recommend looking near Silverdale, Bremerton, or Port Orchard in order to stay nearest to the venue.
                    </p>
                </div>
        </div>
    </div>
</div>