<div class="row justify-content-center mx-4 mt-5 py-3">
    <div class="col-lg-4 col-md-6 col-sm-8">
        <div class="row">
            <h2 class="fw-bold text-center" style="font-family: 'Cinzel', serif; color: #494949;">What will the weather be like?</h2>
        </div>
        <div class="row">
            <p class="fs-5 text-center" style="font-family: 'Nunito Sans', sans-serif; color: #494949;">
                The daytime should be mild and the nighttime will be chilly. 
                There will be both indoor and outdoor space to mingle as well as plenty of heaters. 
                We will provide umbrellas in the case of light rain.
            </p>
        </div>
    </div>
</div>

<div class="row justify-content-center mx-4 mt-5 py-3">
    <div class="col-lg-4 col-md-6 col-sm-8">
        <div class="row">
            <h2 class="fw-bold text-center" style="font-family: 'Cinzel', serif; color: #494949;">Will children be allowed?</h2>
        </div>
        <div class="row">
            <p class="fs-5 text-center" style="font-family: 'Nunito Sans', sans-serif; color: #494949;">
                We love all of the children in our lives, but this will be an adult-only event.
            </p>
        </div>
    </div>
</div>

<div class="row justify-content-center mx-4 mt-5 py-3">
    <div class="col-lg-4 col-md-6 col-sm-8">
        <div class="row">
            <h2 class="fw-bold text-center" style="font-family: 'Cinzel', serif; color: #494949;">Will there be an open bar?</h2>
        </div>
        <div class="row">
            <p class="fs-5 text-center" style="font-family: 'Nunito Sans', sans-serif; color: #494949;">
                Yes, there will be an open bar!
            </p>
        </div>
    </div>
</div>

<div class="row justify-content-center mx-4 mt-5 py-3">
    <div class="col-lg-4 col-md-6 col-sm-8">
        <div class="row">
            <h2 class="fw-bold text-center" style="font-family: 'Cinzel', serif; color: #494949;">Are there any optional planned events?</h2>
        </div>
        <div class="row">
            <p class="fs-5 text-center" style="font-family: 'Nunito Sans', sans-serif; color: #494949;">
                The rehearsal dinner will be on Thursday for the wedding party. 
                See the <a href='/event' class="link-secondary">event</a> page for activity suggestions
                during the days before and after our wedding.
                We will also be doing our own sightseeing in the area on Saturday, 
                and we welcome any and all company!
            </p>
        </div>
    </div>
</div>

<div class="row justify-content-center mx-4 mt-5 py-3">
    <div class="col-lg-4 col-md-6 col-sm-8">
        <div class="row">
            <h2 class="fw-bold text-center" style="font-family: 'Cinzel', serif; color: #494949;">What should I wear?</h2>
        </div>
        <div class="row">
            <p class="fs-5 text-center" style="font-family: 'Nunito Sans', sans-serif; color: #494949;">
                Please dress to the level of formality that you are personally comfortable with. 
                The wedding party and families will be erring on the side of formal, 
                but we do not mind if you dress up or down a couple of levels of formality. 
                Additionally, please be prepared for a short walk across gravel in the 
                parking area (the rest of the venue will be paved or carpeted). The venue will 
                have heated and partially-indoor areas, and we will provide wedding favors to help 
                keep everyone warm. However, if you tend to get cold more easily on brisk nights, do 
                plan your outfit to include a jacket or sweater.
            </p>
        </div>
    </div>
</div>