<div class="row container-fluid justify-content-center">
    
    <div class="col-sm-12 text-center">
        <img src="~/imgs/New_Graphic.svg" class="img-fluid" style="height: 82vh;">
    </div>
</div>