<div class="row justify-content-center">
    
    <div class="col-12 g-0 text-center">
        <img src="~/imgs/New_Graphic.svg" class="img-fluid" style="width: 70vw; height: 60vw;">
    </div>
</div>
<!-- Gallery -->
<div class="row mx-4">
  <div class="col-lg-4 col-md-12 mb-lg-0">
<img
      src="~/imgs/proposal.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Day of the proposal."
    />

    <img
      src="~/imgs/car.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Three amigos in the car."
    />

    <img
      src="~/imgs/fog.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Olympic Penisula with Jane's Mom & Dad."
    />

    <img
      src="~/imgs/freyandtrevor.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Freya and Trevor."
    />
  </div>

  <div class="col-lg-4 mb-lg-0">


    <img
      src="~/imgs/beard.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Jane's birthday on bainbridge"
    />    

    <img
      src="~/imgs/frey.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Jane's birthday on bainbridge"
    />    
    
    
 <img
      src="~/imgs/birthday.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Trevor's birthday in hawaii."
    />

     <img
      src="~/imgs/noshirt.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Trevor's birthday in hawaii."
    />



    
  </div>

  <div class="col-lg-4 mb-lg-0">


   
    <img
      src="~/imgs/beach.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Beach in Oregon."
    />
        <img
      src="~/imgs/blue.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Top golf in dallas."
    />

    <img
      src="~/imgs/firstphoto.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Jane and Trevor's first photo together."
    />
  </div>
</div>
<!-- Gallery -->