<div class="row row-cols-1 justify-content-center">
    <div class="col-12 mt-5">
        <h1 class="text-center" style="font-family: 'Cinzel', serif;">Registry Links</h1>
    </div>
        <h4 class="text-center my-2 p-1" style="font-family: 'Nunito Sans', sans-serif;"><a class="col-7 col-lg-4 col-md-5 col-sm-6 btn fs-5 p-3" href="https://www.amazon.com/wedding/jane-currens-trevor-engen--october-2022/registry/NX1XNXUB5NSF" target="_blank">Amazon</a></h4>
        <h4 class="text-center my-2 p-1" style="font-family: 'Nunito Sans', sans-serif;"><a class="col-7 col-lg-4 col-md-5 col-sm-6 btn fs-5 p-3" href="https://www.zola.com/registry/trevor-jane" target="_blank">Zola + Honeymoon Fund</a></h4>
        <h4 class="text-center my-2 p-1" style="font-family: 'Nunito Sans', sans-serif;"><a class="col-7 col-lg-4 col-md-5 col-sm-6 btn fs-5 p-3" href="https://www.williams-sonoma.com/registry/8zccn9fnjb/registry-list.html" target="_blank">Williams Sonoma</a></h4>
        <h4 class="text-center my-2 p-1" style="font-family: 'Nunito Sans', sans-serif;"><a class="col-7 col-lg-4 col-md-5 col-sm-6 btn fs-5 p-3" href="https://www.potterybarn.com/registry/8zccn9fnjb/registry-list.html" target="_blank">Pottery Barn</a></h4>
        <h4 class="text-center my-2 p-1" style="font-family: 'Nunito Sans', sans-serif;"><a class="col-7 col-lg-4 col-md-5 col-sm-6 btn fs-5 p-3" href="https://www.westelm.com/registry/8zccn9fnjb/registry-list.html" target="_blank">West Elm</a></h4>
</div>