* {
  color: #494949;
}

.green-hover {
  text-decoration: none;
  color: black;
}

.green-hover:hover {
  color: #5e6c44;
}

.custom-button {
  background-color: #494949;
  color: white;
  border: none;
  height: 40px;
  width: 170px
}

